<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/javascripts/action.js"></script>
    <script>
    	//do some setup for testing
    	dennisHoffman = action.modelMe({
    		name: 'Dennis Hoffman'
    		, role: 'actor'
    	});

    	sandraBullock = action.modelMe({
    		name: 'Sandra Bullock'
    		, role: 'actress'
    	});

    	angLee = action.modelMe({
    		name: 'Ang Lee'
    		, role: 'Director'
    	});
    </script>
  </body>
</html>